@use "../variables";
@use "../mixins";

.alert-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  border-radius: 12px;
  padding: 1.5rem 1rem;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;

  &__heading {
    font-size: variables.$font-size-h3;
  }

  &__messages {
    @include mixins.alert-card-list;
  }

  &__message {
    @include mixins.alert-card-list-item();
  }

  &--success {
    background-color: variables.$colour-success-light;
    border: 2px solid variables.$colour-success;
  }

  &--info {
    background-color: variables.$colour-info-light;
    border: 2px solid variables.$colour-info;
  }

  &--warning {
    background-color: variables.$colour-warning-light;
    border: 2px solid variables.$colour-warning;
  }

  &--error {
    background-color: variables.$colour-error-light;
    border: 2px solid variables.$colour-error;
  }
}
