@use "../variables";
@use "../mixins";

.dashboard-card {
  @include mixins.flex-column-center;
  justify-content: flex-start;
  gap: 0.5rem;
  color: variables.$colour-text;
  padding: 1.5rem 0.75rem;
  min-width: 250px;

  &__icon {
    font-size: 2.5rem;
    color: variables.$colour-orange;
  }
  &__description {
    font-size: variables.$font-size-small;
    text-align: center;
  }
  &--locked {
    background-color: rgba(variables.$colour-grey, 0.1);
    pointer-events: none;
  }

  @include mixins.clickable-panel-border(variables.$colour-tan);
  @include mixins.clickable-panel(variables.$colour-orange);
}
