@use "../variables";
@use "../mixins";

.tabs {
  @include mixins.page-narrow-width;
  @include mixins.flex-row-center;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid variables.$colour-tan;
}
.tab {
  top: 2px;
  padding: 0.5rem 1.5rem;
  background: none;
  border: none;
  color: variables.$colour-text;
  font-size: variables.$font-size-base;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  border: 2px 2px 2px 0 solid transparent;
  border-radius: 0;
  text-decoration: unset;
  &:hover {
    background-color: rgba(variables.$colour-tan, 0.3);
  }
  &--active {
    color: variables.$colour-text;
    font-weight: bold;
    border-bottom: 2px solid variables.$colour-orange;
    &:hover {
      background: none;
      cursor: unset;
    }
  }
  &__error {
    color: variables.$colour-error;
    border-bottom-color: variables.$colour-error;
  }
}
