@use "../variables";
@use "../mixins";

.page-heading-container {
  @include mixins.flex-column-center;
  width: 100%;
  row-gap: 2rem;

  &--light {
    background-color: transparent;
    color: variables.$colour-text;
  }
  &--dark {
    background-color: variables.$colour-brown;
    color: variables.$colour-white;
  }

  &__row {
    @include mixins.flex-row-center;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    @media (max-width: variables.$breakpoint-l) {
      @include mixins.flex-column-center;
      gap: 1rem;
    }
  }
  &__content {
    @include mixins.flex-column-center;
    text-align: center;
    width: 100%;
    gap: 0.5rem;
    order: 1;
  }
  &__image {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    order: 0;
    width: 100%;
    padding: 0;
    @media screen and (max-width: variables.$breakpoint-m) {
      width: 50%;
    }
  }
  &__heading {
    text-align: center;
    &--decorated {
      &::after {
        margin: 1rem auto 2rem;
        @include mixins.heading-decoration;
      }
    }
  }
  &__subheading {
    text-align: center;
    &::after {
      @include mixins.heading-decoration;
    }
  }
}
