@use 'sass:color';
@use '../variables';

.sign-in-section {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 1rem auto 0;
  border-top: 1px solid variables.$colour-feint-border;
  padding-top: 1rem;
  justify-content: center;
}
