@use './variables';
@use './mixins';

$input-height: 3.7rem;
$input-background-colour: variables.$colour-white;

form {
  width: 100%;
  @include mixins.page-narrow;
}

.form-section:not(:last-child) {
  margin-bottom: 3rem;
}

.form-content {
  @include mixins.flex-column-center;
}

form .form-group:not(:last-child),
.form-field:not(:last-child) {
  margin-bottom: 1.5rem;
}

input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='number'],
select,
textarea {
  width: 100%;
  box-sizing: border-box;
  height: $input-height;
  padding: 1rem 1.25rem;
  border: 2px solid rgba(0, 0, 0, 0.08); // TODO - replace with variable
  border-radius: 8px; // TODO - replace with variable
  font-size: variables.$font-size-base;
  transition: border-color 0.3s ease;
  background-color: $input-background-colour;
  font-family: inherit;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); // TODO - replace with variable

  &:focus {
    outline: none;
    border-color: variables.$colour-orange;
  }

  &::placeholder {
    color: variables.$colour-text-muted;
  }

  &.error {
    @include mixins.form-input-error;
  }

  &.form-group__input--disabled {
    background-color: rgb(248, 249, 250); // TODO - replace with variable
    color: variables.$colour-text-muted;
    border-color: rgba(0, 0, 0, 0.08); // TODO - replace with variable
    cursor: not-allowed;

    &:focus {
      border-color: rgba(0, 0, 0, 0.08); // TODO - replace with variable
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.4); // TODO - replace with variable
    }
  }
}

input[type='checkbox'] {
  accent-color: variables.$colour-orange;
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;

  &:hover {
    accent-color: variables.$colour-blue;
  }

  &:focus-visible {
    outline: 2px solid variables.$colour-orange-700;
    outline-offset: 2px;
  }
}

select {
  color: variables.$colour-text;
  cursor: pointer;
  min-width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent
    url('data:image/svg+xml;utf8,<svg fill="rgba(0,0,0,0.75)" height="20" width="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 8c0.4-0.4 1-0.4 1.4 0l2.6 2.6 2.6-2.6c0.4-0.4 1-0.4 1.4 0s0.4 1 0 1.4l-3.3 3.3c-0.4 0.4-1 0.4-1.4 0l-3.3-3.3c-0.4-0.4-0.4-1 0-1.4z" fill="rgba(0,0,0,0.75)" stroke="rgba(0,0,0,0.75)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>')
    no-repeat right 1rem center/20px;
  background-color: $input-background-colour;

  &:disabled {
    background-color: rgb(248, 249, 250); // TODO - replace with variable
    cursor: not-allowed;
    color: variables.$colour-text-muted;
  }

  &.placeholder {
    color: variables.$colour-text-muted;
  }
}

option {
  color: variables.$colour-text;

  &:first-child {
    color: variables.$colour-text-muted;
  }
}

.instagram-input-group {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;

  &__prefix {
    &::after {
      content: '@';
    }

    line-height: $input-height;
    position: absolute;
    left: 1.5rem;
    font-weight: variables.$font-weight-medium;
    z-index: 1; // TODO - not sure what this is here for
    pointer-events: none;
    color: variables.$colour-text-muted;
  }

  input[type='text'] {
    padding-left: 2.5rem;
  }
}

$prefix-map: (
  instagram: '@'
);

.input-group {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;

  @each $key, $value in $prefix-map {
    &--#{$key} {
      &__prefix {
        &::after {
          content: '#{$value}';
        }

        line-height: $input-height;
        position: absolute;
        left: 1.5rem;
        font-weight: variables.$font-weight-medium;
        z-index: 1; // TODO - not sure what this is here for
        pointer-events: none;
        color: variables.$colour-text-muted;
      }

      & > input[type='text'] {
        padding-left: 2.5rem;
      }
    }
  }
}

.form-group,
.form-field {
  width: 100%;

  > * {
    display: block;
    width: 100%;
  }

  > *:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  &__label {
    font-weight: variables.$font-weight-semi-bold;
    color: variables.$colour-text;
    font-size: 0.9rem;
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    span {
      font-size: variables.$font-size-base;
      color: variables.$colour-text;
      line-height: 1.2;
      padding-left: 0.5rem;
    }
  }

  &__hint {
    font-size: variables.$font-size-small;
    color: variables.$colour-text-muted;
    font-style: italic;
  }

  &__error-message {
    color: variables.$colour-error;
    font-size: variables.$font-size-small;
  }

  &__input {
    &--disabled {
      background-color: #f8f9fa; // TODO - replace with variable
      cursor: not-allowed;
      color: variables.$colour-text-muted;
      border-color: rgba(0, 0, 0, 0.08); // TODO - replace with variable

      &:focus {
        border-color: rgba(0, 0, 0, 0.08); // TODO - replace with variable
        outline: none;
      }
    }
  }
}

.form-group__label,
.form-field__label,
.form-section-header__title,
.terms-and-conditions-label {
  &--required::after {
    content: ' *';
    color: variables.$colour-orange;
  }
}

.form-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .form-group,
  .form-field {
    flex: 1;
  }

  button {
    flex-shrink: 0;
  }
}
